:root {
  --navheight: 60px;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: arial;
  background-color: black;
}

nav {
  height: var(--navheight);
  border-top: 1px solid rgb(255, 255, 255, 0.2);
  width: 80%;
  margin: 0 auto;
}

nav h4 {
  color: var(--white);
  line-height: var(--navheight);
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  padding: 0px 60px;
}

nav i {
  font-size: 11px;
}

nav ul li ul li i {
  float: right;
}

nav ul {
  float: left;
}

nav ul li {
  position: relative;
  float: left;
  list-style-type: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: var(--white);
  letter-spacing: 2px;
  border: 0px solid red;
  text-transform: uppercase;
  font-size: 12px;
  padding: 22px 12px;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: var(--white);
  border-radius: 2px;
}

nav ul li ul li {
  width: 180px;
  border-radius: 0px 0px 2px 2px;
  box-sizing: border-box;
  padding: 2px;
}

nav ul li ul li a {
  padding: 15px 12px;
  color: var(--black);
}

nav ul li ul li a:hover {
  background-color: gray;
  color: var(--white);
  border-radius: 2px;
}

nav ul li ul li ul {
  display: none;
  position: absolute;
  background-color: var(--white);
  border-radius: 2px;
  margin-left: 180px;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li ul li:hover > ul {
  display: block;
}

h1 {
  font-size: 200px;
  font-kerning: auto;
}
.headertext {
  text-align: left;
  padding-left: 240px;
  padding-top: 20px;
}
.headertext p {
  color: #dddddd;
  padding-left: 20px;
}

.main-content {
  background-color: white;
  text-align: center;
  padding: 20px;
}

div .main-content {
  color: #ffffff;
}

.main-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.main-content p {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
}

.flex {
  display: flex;
  gap: 400px;
  align-items: flex-start;
  padding: 150px;
  padding-top: 200px;
}

.bigimg {
  float: right;
  filter: brightness(80%);
  width: 600px;
}

.subheading {
  text-align: center;
  padding: 50px;
  font-size: 60px;
}

.center3 {
  margin-left: 260px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.box3 {
  float: left;
  width: 26%;

  padding: 50px;
  margin: 18px;
  text-align: center;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.three-container{
  color: black;
  padding: 100px;

}